[submodule "modules/stm32-cmake"]
	path = modules/stm32-cmake
	url = https://github.com/ObKo/stm32-cmake.git
[submodule "modules/stm32-cmake-yml"]
	path = modules/stm32-cmake-yml
	url = https://github.com/ViacheslavMezentsev/stm32-cmake-yml.git
