/build/
/artifacts/
/CMakeUserPresets.json
/Makefile
/profiles/*/Makefile
/.cache/
/.cortex-debug*
/.vscode/*.log
/.vscode/browse.vc.db*
/Tests/stands/*.local.toml
__pycache__/
*.pyc
*.bak
.mxproject
